<section
  class="flex justify-center items-center px-[30px] md:px-[70px] pt-[30px] flex-col md:flex-row"
>
  <div class="pb-2 md:pb-0">
    <span class="text-sm font-bold font-['Roboto'] text-[#475569]">
      LANDING PAGE ANGULAR
    </span>
    <h1
      class="text-3xl xl:text-7xl lg:text-6xl md:text-5xl sm:text-4xl font-black font-['Roboto'] text-title"
    >
      A tecnologia que você busca para seu projeto
    </h1>
  </div>
  <img
    class="md:max-w-[50%]"
    ngSrc="assets/principal.png"
    width="669"
    height="536"
  />
</section>
